.footer {
  background-color: #4a5d45;
  color: #ebebeb;
  width: 100%;
  left: 0;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px 0;
  }
  .location,
  .opening-hours {
    margin: 0 0 20px 0 !important;
    text-align: center !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .opening-hours {
    margin-bottom: 0 !important;
  }
}

.location {
  text-align: left;
  margin-left: 50px;
}

.opening-hours {
  text-align: right;
  margin-right: 50px;
}
