.footer {
  background-color: #4a5d45;
  color: #ebebeb;
  width: 100%;
  left: 0;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 40px;
  position: relative;
  bottom: 0;
}

.footer-left,
.footer-right {
  flex: 1;
}

.footer-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0;
}

.footer-left h3,
.footer-right h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 0;
}

.footer-left p,
.footer-right p {
  margin: 6px 0;
  font-size: 1.1rem;
  line-height: 1.6;
}

.footer-icons {
  display: flex;
  gap: 30px;
  margin-top: auto;
}

.footer-icons a {
  color: white;
  font-size: 2.5rem;
  transition:
    color 0.3s ease,
    transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons a:hover {
  color: #bb9457;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
    gap: 40px;
  }
  .footer-left {
    order: 1;
  }
  .footer-right {
    order: 2;
  }
  .footer-center {
    order: 3;
  }

  .footer-left {
    width: 100%;
    margin: 0 0 0 0;
    text-align: center;
    font-size: 1.3rem;
  }
  .footer-right {
    width: 100%;
    margin: 0 0 0 0;
    text-align: center;
    font-size: 1.3rem;
  }
  .footer-center {
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }
  .footer-icons {
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer-icons a {
    font-size: 3rem;
  }
}
