.navbar {
  background-color: #ebebeb;
  border-radius: 20px;
  padding: 15px 30px;
  width: max-content;
  margin: 0 auto;
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-links a:hover {
  color: #bb9457;
}
