.hero-title-cafe {
  display: block;
  font-size: 0.8em;
  margin-top: 0.2em;
  letter-spacing: 0;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}
html,
body {
  overflow-x: hidden;
}
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
}

.home-page {
  min-height: 100vh;
  text-align: center;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* HERO SECTION: Fills viewport like footer */
.hero {
  position: relative;
  width: 100vw;
  height: 600px;
  margin: 0;
  overflow: hidden;
  display: block;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-title {
  position: absolute;
  top: 60%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: #4a5d45;
  font-size: 48px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  z-index: 2;
  font-family: "Space Grotesk", sans-serif;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.order-button {
  background-color: #4a5d45;
  color: #ebebeb;
  border: none;
  padding: 15px 15px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 80px;
}
.order-button:hover {
  background-color: #bb9457;
  border: #bb9457;
}
