@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
}

.home-page {
  min-height: 100vh;
  padding-top: 100px;
  text-align: center;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
