.hero-title-cafe {
  display: block;
  font-size: 0.8em;
  margin-top: 0.2em;
  letter-spacing: 0;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
}

.home-page {
  width: 100%;
  text-align: center;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  position: relative;
  width: 100vw;
  height: 600px;
  margin: 0;
  display: block;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-title {
  position: absolute;
  top: 60%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: #4a5d45;
  font-size: 48px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  z-index: 2;
  font-family: "Space Grotesk", sans-serif;
}

.order-button {
  background-color: #4a5d45;
  color: #ebebeb;
  border: none;
  padding: 15px 15px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 80px;
}

.order-button:hover {
  background-color: #bb9457;
  border: #bb9457;
}

.about-us {
  background-color: #4a5d45;
  padding: 40px 200px;
  justify-content: space-between;
  gap: 100px;
  display: flex;
  align-items: center;
}

.about-us-header {
  color: #ebebeb;
  text-align: center;
  font-size: 48px;
  margin-bottom: 20px;
}

.about-us-tagline {
  color: #ebebeb;
  text-align: left;
  font-size: 24px;
  line-height: 1.6;
}

.about-us-list {
  color: #ebebeb;
  text-align: left;
  font-size: 20px;
  list-style-type: disc;
  padding-left: 20px;
}

.about-us-content {
  flex: 1;
  text-align: left;
  max-width: 600px;
  padding-left: 100px;
}

.about-us-image {
  flex: 1;
}

.about-us-image img {
  width: 550px;
  height: 300px;
  border-radius: 50px;
  margin-left: 300px;
}

.featured-items {
  background-color: #ebebeb;
  padding: 60px;
}

.featured-items-header {
  color: #4a5d45;
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}
